<a href="https://colab.research.google.com/github/HelloAcorn/Data-Science-2024/blob/main/DataScience2024_river05%ED%8C%80_1%EC%A3%BC%EC%B0%A8_%EB%AF%B8%EC%85%98%EC%A7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## üìåQ1. Ïó¨Îü¨Î∂ÑÏùÄ ÌååÏù¥Ïç¨ÏùÑ ÌÜµÌï¥ ÏÑ§Î¨∏Ï°∞ÏÇ¨ Î¨∏Ìï≠Ïùò ÏùëÎãµÎÇ¥Ïó≠ÏùÑ Î∂ÑÏÑùÌïòÍ≤å ÎêòÏóàÏäµÎãàÎã§. Î¨∏Ìï≠Î≥Ñ ÏùëÎãµÎÇ¥Ïö©ÏóêÎäî ÌïòÎÇòÏùò ÏùëÎãµÎßå Ìï† Ïàò ÏûàÎäî single choice Î¨∏Ï†úÏôÄ Ïó¨Îü¨ ÏùëÎãµÏùÑ ÏÑ†ÌÉùÌï† Ïàò ÏûàÎäî multiple choice Î¨∏Ï†úÍ∞Ä ÏûàÏäµÎãàÎã§. 2Í∞úÎ•º Íµ¨Î∂ÑÌïòÍ∏∞ ÏúÑÌï¥ single choice Î¨∏Ìï≠ Î≤àÌò∏Ïóê "_"Î•º ÌëúÍ∏∞ÌïòÏßÄ ÏïäÍ∏∞Î°ú ÌñàÏäµÎãàÎã§.

- Î¨∏Ìï≠Î≥Ñ ÏùëÎãµÎÇ¥Ïó≠Ïù¥ 'question'Ïóê Îã¥Í≤® ÏûàÏùÑ Îïå, Ï°∞Í±¥Î¨∏Í≥º Î∞òÎ≥µÎ¨∏ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ ÏïÑÎûòÏôÄ Í∞ôÏùÄ Í≤∞Í≥ºÍ∞Ä Ï∂úÎ†•ÎêòÎèÑÎ°ù ÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Î≥¥ÏÑ∏Ïöî.

In [70]:
# ÏùëÎãµ ÏÑ§Î¨∏ Î¨∏Ìï≠ Î¶¨Ïä§Ìä∏
questions = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
             'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
             'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
             'Q10_3']

# single choice Î¨∏Ìï≠ÏùÑ Ï†ÄÏû•Ìï† Î¶¨Ïä§Ìä∏
single_choice= []

In [84]:
for i in questions:
    # True || False
    # print("_" in i) 
    # index
    # print(i.find("_"))
    # if (len(i) == 2):

    # Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
    if ("_" not in i and i not in single_choice):
        print(i)
        single_choice.append(i)
single_choice

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

## üìåQ2. ÌïúÏä§ Î°úÏä¨ÎßÅ(Hans Rosling, 1948ÎÖÑ 7Ïõî 27Ïùº ~ 2017ÎÖÑ 2Ïõî 7Ïùº)ÏùÄ Ïä§Ïõ®Îç¥Ïùò ÏùòÏÇ¨Ïù¥Ïûê ÌÜµÍ≥ÑÌïôÏûêÎ°ú ÎπÑÏòÅÎ¶¨ Î≤§Ï≤ò Í∞≠ÎßàÏù∏Îçî Ïû¨Îã®Ïùò Í≥µÎèôÏÑ§Î¶ΩÏûêÏù¥Í∏∞ÎèÑ Ìï©ÎãàÎã§. ÎπÖÎç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏû• Ïûò ÌôúÏö©ÌïòÎäî Î≥¥Í±¥ ÌÜµÍ≥ÑÌïôÏûêÎ°ú ÏïåÎ†§Ï†∏ ÏûàÏäµÎãàÎã§. Î≤†Ïä§Ìä∏ÏÖÄÎü¨ Ï±ÖÏù∏ "Ìå©Ìä∏ÌíÄÎãàÏä§" Ï†ÄÏûêÏù¥Í∏∞ÎèÑ Ìï©ÎãàÎã§. Í∞≠ÎßàÏù∏Îçî ÏÇ¨Ïù¥Ìä∏ÏóêÏÑúÎäî Ïó∞ÎèÑÎ≥Ñ, Íµ≠Í∞ÄÎ≥Ñ GDPÏôÄ Í∏∞ÎåÄÏàòÎ™Ö Îç∞Ïù¥ÌÑ∞Î•º Ï†úÍ≥µÌïòÍ≥† ÏûàÎäîÎç∞, ÎåÄÌëúÏ†ÅÏúºÎ°ú ÌååÏù¥Ïç¨ ÎùºÏù¥Î∏åÎü¨Î¶¨ Ï§ë 'seaborn'ÏóêÏÑú Ï†úÍ≥µÎêòÎäî ÏòàÏ†ú Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÏäµÎãàÎã§. Ïò§ÎäòÏùÄ Ïù¥ Îç∞Ïù¥ÌÑ∞Î•º ÌôúÏö©Ìï¥ Î¨∏Ï†úÎ•º ÌíÄÏñ¥Î≥¥Í≤†ÏäµÎãàÎã§.

- Îã§ÏùåÏùò Îç∞Ïù¥ÌÑ∞Îäî Ïó∞ÎèÑ, Íµ≠Í∞ÄÎ≥Ñ Í∏∞ÎåÄÏàòÎ™ÖÏùÑ ÎÇòÌÉÄÎÇ¥Í≥† ÏûàÎäî Îç∞Ïù¥ÌÑ∞ ÏûÖÎãàÎã§.**2011ÎÖÑ Î∂ÄÌÑ∞Ïùò Ïó∞ÎèÑÎ≥Ñ, Íµ≠Í∞ÄÎ≥Ñ ÌèâÍ∑† Í∏∞ÎåÄÏàòÎ™Ö**ÏùÑ Íµ¨Ìï¥Ï£ºÏÑ∏Ïöî. (2011ÎÖÑÎèÑ Ìè¨Ìï®ÎêòÍ≤å Íµ¨Ìï©ÎãàÎã§.)

- [ÌïÑÏàò Ï°∞Í±¥] groupby ÎÇò pivot_tableÏùÑ ÌôúÏö©Ìï©ÎãàÎã§. groupby Î°ú Íµ¨Ìï† Îïå unstack()Ïù¥ÎùºÎäî Í∏∞Îä•ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ ÏïÑÎûòÏôÄ Í∞ôÏù¥ Ïª¨ÎüºÏóê Ïù∏Îç±Ïä§ Í∞íÏùÑ Ïò¨Î†§ÏÑú ÌëúÍ∏∞Ìï† Ïàò ÏûàÏäµÎãàÎã§.
- ÎßåÏïΩ ÌñâÏóêÎäî 'Ïó∞ÎèÑ'Í∞Ä, Ïó¥Ïóê 'Íµ≠Í∞Ä'Í∞Ä Îì§Ïñ¥ÏûàÍ≥† ÏàòÏπò Îç∞Ïù¥ÌÑ∞Ïùò Í≤∞Í≥ºÍ∞íÏù¥ ÏïÑÎûòÏôÄ Í∞ôÎã§Î©¥, Ï∂úÎ†•ÌòïÌÉúÎäî Ï°∞Í∏à Îã¨ÎùºÎèÑ Í¥úÏ∞ÆÏäµÎãàÎã§.

In [15]:
import pandas as pd

# Îç∞Ïù¥ÌÑ∞ ÏùΩÍ∏∞
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")

# Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
print(df.head(20))

####################Ïó¨Í∏∞ÏÑú Î∂ÄÌÑ∞ Ïù¥ ÏÖÄÏùò ÎÅùÍπåÏßÄ ÏΩîÎìúÎ•º ÎìúÎûòÍ∑∏ÌïòÍ≥†, ctrl+/ ÌÇ§Î•º ÎàÑÎ•¥Î©¥ ÏΩîÎìú Ï£ºÏÑùÏù¥ Ìï¥Ï†úÎê©ÎãàÎã§! ######################
print("---------------------------------------2011ÎÖÑ Ïù¥ÌõÑ---------------------------------------------")
# 2011ÎÖÑÎ∂ÄÌÑ∞Ïùò Îç∞Ïù¥ÌÑ∞ ÌïÑÌÑ∞ÎßÅ
df_recent = df[df['Year'] >= 2011]

# Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
print(df_recent.head(20))

    Year        Country  Spending_USD  Life_Expectancy
0   1970        Germany       252.311             70.6
1   1970         France       192.143             72.2
2   1970  Great Britain       123.993             71.9
3   1970          Japan       150.437             72.0
4   1970            USA       326.961             70.9
5   1971         Canada       313.391             72.8
6   1971        Germany       298.251             70.8
7   1971  Great Britain       134.172             71.9
8   1971          Japan       163.854             72.9
9   1971            USA       357.988             71.2
10  1972        Germany       337.364             71.0
11  1972          Japan       185.390             73.2
12  1972            USA       397.097             71.2
13  1973        Germany       384.541             71.3
14  1973          Japan       205.778             73.4
15  1973            USA       439.302             71.4
16  1974        Germany       452.744             71.5
17  1974          Japan       242.018             73.7
18  1974            USA       495.114             72.0
19  1975        Germany       532.481             71.4
---------------------------------------2011ÎÖÑ Ïù¥ÌõÑ---------------------------------------------
     Year        Country  Spending_USD  Life_Expectancy
214  2011         Canada      4228.962             81.4
215  2011        Germany      4566.678             80.5
216  2011         France      4161.698             82.3
217  2011  Great Britain      3495.652             81.0
218  2011          Japan      3740.756             82.7
219  2011            USA      8079.467             78.7
220  2012         Canada      4336.249             81.6
221  2012        Germany      4745.546             80.6
222  2012         France      4299.434             82.1
223  2012  Great Britain      3614.131             81.0
224  2012          Japan      3970.765             83.2
225  2012            USA      8346.064             78.8
226  2013         Canada      4428.753             81.7
227  2013        Germany      4951.677             80.6
228  2013         France      4544.964             82.3
229  2013  Great Britain      3667.636             81.1
230  2013          Japan      4308.252             83.4
231  2013            USA      8519.620             78.8
232  2014         Canada      4536.810             81.8
233  2014        Germany      5151.709             81.2

In [110]:
data1 = df_recent.groupby(['Year','Country'])['Life_Expectancy'].mean()
data1.unstack()

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

In [108]:
data2 = pd.pivot_table(df_recent, index=['Year','Country'], values='Life_Expectancy', aggfunc='mean')
data2.unstack()

        Life_Expectancy
Country          Canada France Germany Great Britain Japan   USA
Year
2011               81.4   82.3    80.5          81.0  82.7  78.7
2012               81.6   82.1    80.6          81.0  83.2  78.8
2013               81.7   82.3    80.6          81.1  83.4  78.8
2014               81.8   82.8    81.2          81.4  83.7  78.9
2015               81.9   82.4    80.7          81.0  83.9  78.7
2016               82.0   82.7    81.0          81.2  84.1  78.7
2017               81.9   82.7    81.1          81.3  84.2  78.6
2018               82.0   82.8    81.0          81.3  84.3  78.7
2019               82.2   82.9    81.3          81.4  84.4  78.8
2020               81.7   82.3    81.1          80.4  84.7  77.0

##üìåQ3. Jupyter notebook ÏùÄ Î¨∏ÏÑúÏôÄ ÏΩîÎìúÎ•º Ìï®Íªò ÏûëÏÑ±Ìï† Ïàò ÏûàÎã§Îäî Ï†êÏù¥ Ïû•Ï†êÏûÖÎãàÎã§. Jupyter notebook ÏóêÏÑú ÏßÄÏõêÌïòÎäî Markdown Î¨∏Î≤ïÏùÑ ÏÇ¨Ïö©ÌïòÏó¨, Ïù¥Î≤à Ï£ºÏóê Î∞∞Ïö¥ ÎÇ¥Ïö©ÏùÑ Ï†ïÎ¶¨Ìï¥ Î≥¥ÏÑ∏Ïöî!

Ïù¥Î≤àÏ£º ÌïôÏäµ ÎÇ¥Ïö©ÏùÄ Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Í≥†Ìï¥Ï£ºÏÑ∏Ïöî! [1Ï£ºÏ∞® ÌïôÏäµ ÎÇ¥Ïö©](Ïä§ÌÑ∞Îîî Ï†ÑÏö© Í∞ïÏ¢å 1Ï£ºÏ∞® ÌïôÏäµ ÏïàÎÇ¥ ÎßÅÌÅ¨)
1. Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù ÌôòÍ≤Ω Íµ¨ÏÑ±:https://www.boostcourse.org/ds112/joinLectures/28140
2. Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Ï§ÄÎπÑÌïòÍ∏∞:https://www.boostcourse.org/ds112/joinLectures/28138

### Ïù¥Î≤à Ï£ºÏóê Î∞∞Ïö¥ ÎÇ¥Ïö© ÏûëÏÑ±ÌïòÍ∏∞.
globÏúºÎ°ú ÌååÏùºÎ™Ö ÏùΩÏñ¥Ïò§Í∏∞(Î¶¨Ïä§Ìä∏ Î∞òÌôò)
ÏãúÎ¶¨Ï¶à => 1Ï∞®Ïõê Î∞±ÌÑ∞
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ => 2Ï∞®Ïõê Ìñâ

Í∞ôÏùÄ Í≤∞Í≥º 
df_recent.groupby(['Year','Country'])['Life_Expectancy'].mean()
pd.pivot_table(df_recent, index=['Year','Country'], values='Life_Expectancy', aggfunc='mean')

## üìåQ4. ÏïûÏúºÎ°ú Ïö∞Î¶¨Îäî Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Ìè¨ÌÑ∏ÏóêÏÑú Îç∞Ïù¥ÌÑ∞Î•º Îã§Ïö¥Î°úÎìú Î∞õÏïÑ Í≥ºÏ†ïÏùÑ ÏßÑÌñâÌï† ÏòàÏ†ïÏûÖÎãàÎã§. Î≥∏Í≤©Ï†ÅÏù∏ ÌïôÏäµ Ïù¥Ï†ÑÏóê! Îç∞Ïù¥ÌÑ∞Î•º Îã§Î£®Îäî Î∞©Î≤ïÏù¥ ÏùµÏàôÌï¥ÏßÄÎèÑÎ°ù ÌïúÎ≤à Îçî Ïó∞ÏäµÌï¥Î≥¥Í≥†, Ïñ¥Îñ§ Î¨∏Ï†úÎ•º ÌíÄ Ïàò ÏûàÏùÑÏßÄÎèÑ Ìï®Íªò Í≥†ÎØºÌï¥Î≥¥ÏïÑÏöî!

- Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Ìè¨ÌÑ∏ÏóêÏÑú ÏõêÌïòÎäî Îç∞Ïù¥ÌÑ∞Î•º Îã§Ïö¥Î°úÎìú Î∞õÏïÑ Í≤ΩÎ°úÎ•º ÏÑ§Ï†ïÌïòÍ≥†, Ï£ºÌîºÌÑ∞ ÎÖ∏Ìä∏Î∂ÅÍ≥º ÌåêÎã§Ïä§Î•º ÌÜµÌï¥ Î∂àÎü¨ÏôÄ Î≥¥ÏÑ∏Ïöî!
- Ïñ¥Îñ§ Îç∞Ïù¥ÌÑ∞Î•º ÏÇ¨Ïö©Ìï¥ÏïºÌï†ÏßÄ Í≥†ÎØºÎêúÎã§Î©¥ Îã§Ïùå ÎßÅÌÅ¨Ïùò Îç∞Ïù¥ÌÑ∞Î•º Îã§Ïö¥Î°úÎìú Î∞õÏïÑÎèÑ Ï¢ãÏäµÎãàÎã§.
- [Ï∞∏Í≥† ÏòàÏãú] Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Ìè¨ÌÑ∏ - ÏÑúÏö∏ÌäπÎ≥ÑÏãú Í∞ïÎÇ®Íµ¨_ÏÉùÌôúÌèêÍ∏∞Î¨ºÎ∞∞Ï∂úÎüâ (https://www.data.go.kr/data/15107375/fileData.do)

- Ïù¥ Îïå, Ïù∏ÏΩîÎî© Ïò§Î•òÍ∞Ä Î∞úÏÉùÌïúÎã§Î©¥ encoding="cp949" ÏòµÏÖòÏùÑ ÏÇ¨Ïö©Ìï¥ Ï£ºÏÑ∏Ïöî!
cp949Îäî ÌïúÍ∏Ä ÏúàÎèÑÏö∞ÏóêÏÑú ÏÇ¨Ïö©ÌïòÎäî Ïù∏ÏΩîÎî© Î∞©ÏãùÏù¥ÎûçÎãàÎã§. Ïù∏ÏΩîÎî©Í≥º Í¥ÄÎ†®Îêú ÏûêÏÑ∏Ìïú ÎÇ¥Ïö©ÏùÄ Îã§ÏùåÏùÑ Ï∞∏Í≥†Ìï¥ Ï£ºÏÑ∏Ïöî.
  - Î¨∏Ïûê Ïù∏ÏΩîÎî© - ÏúÑÌÇ§Î∞±Í≥º, Ïö∞Î¶¨ Î™®ÎëêÏùò Î∞±Í≥ºÏÇ¨Ï†Ñ
  - ÌååÏùºÏùÑ Ïó¥Í±∞ÎÇò Ï†ÄÏû•Ìï† Îïå ÌÖçÏä§Ìä∏ Ïù∏ÏΩîÎî© ÏÑ†ÌÉù

In [36]:
from glob import glob
file_name = glob("data/ÏÑúÏö∏ÌäπÎ≥ÑÏãú Í∞ïÎÇ®Íµ¨_ÏÉùÌôúÌèêÍ∏∞Î¨ºÎ∞∞Ï∂úÎüâ_20221019.csv")[0]
file_name

'data/ÏÑúÏö∏ÌäπÎ≥ÑÏãú Í∞ïÎÇ®Íµ¨_ÏÉùÌôúÌèêÍ∏∞Î¨ºÎ∞∞Ï∂úÎüâ_20221019.csv'

In [40]:
pd.read_csv(file_name, encoding='cp949')

    Í∞ïÎÇ®Íµ¨  2019ÎÖÑ(ÏÉùÌôúÌèêÍ∏∞Î¨º)-ÌÜ§  2020ÎÖÑ(ÏÉùÌôúÌèêÍ∏∞Î¨º)-ÌÜ§
0   01Ïõî            7550            7350
1   02Ïõî            6387            6688
2   03Ïõî            7198            6973
3   04Ïõî            6820            6448
4   05Ïõî            7767            6470
5   06Ïõî            7275            7923
6   07Ïõî            8164            8015
7   08Ïõî            7807            7859
8   09Ïõî            6811            7452
9   10Ïõî            7222            6875
10  11Ïõî            7592            7337
11  12Ïõî            7298            6911